<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<table>
    <tr>
        <th>Order Id</th>
        <th>Total</th>
        <th>Shipping Date</th>
    </tr>
    <tr>
        <td th:text="${order.id}">Thank you for choosing us</td>
        <td th:text="${order.orderTotal}"></td>
        <td th:text="${order.shippingDate}"></td>
        <td th:text="${order.shippingTime}"></td>
    </tr>
</table>
<br/>
<p>Best,</p>
<p>Meridan Express</p>
</body>
</html>